html, body{
    background-color: #000;
    color: white;
    margin: 0;

}


.full-screen-vedio-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .full-screen-vedio-container video{
    /* z-index: -1; */
    position:absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }

  .full-screen-vedio-content{

    color: white;
   letter-spacing: 25px;
    font-size: 200px;
    margin-top: 16%;
    z-index: 10;
  }
  .full-screen-vedio-content h6{

    color: white;
    font-size: 30px;
    letter-spacing: 24px;
    z-index: 10;
    opacity: 40%;
  }
  .full-screen-vedio-content p{

    opacity: 80%;
  }

.blur::after{
background: linear-gradient(0deg,black, transparent);
display: block;
content: "";
height: 25vh;
position:absolute;
left: 0;
right: 0;
bottom: 0;
z-index: 10;
}
  /* sec1 over */

  .about p{
    text-align: center;
    font-size: 18px;
   
    /* padding-top: 100px; */
  
  }
.about h1{
  text-align: center;
  font-size: 72px;
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 90px;

}

.about img {
  width: 400px;
  height: 100%;
  object-fit:cover;
  
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}
.basic{
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.basic img {
  width: 400px;
  height: 100%;
  object-fit:cover;
  
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  
  transform-origin:center;
  transform:perspective(800px) rotateY(-25deg);
  transition:0.5s;
}



/* Product section start */
.product p{
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  padding-top: 52px;

}
  .sec2 {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;

    padding: 0;
    box-sizing:border-box;
  }
  .sec2 {
    width: 100%;
    height: 50vh;
    background-color:#000; 
    display:grid;
    place-items:center;
  }
  
  .sec2 img {
    width: 30%;
    height: 100%;
    object-fit:cover;
    
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
  }
  .animation {
    max-width:1000px;
    max-height:350px;
  
    display:flex;
    /* justify-content:center; */
    align-items:center;
    gap:150px;
    
  }
  .animation:hover img {
    opacity:0.3;
  }
  .animation img:hover {
    transform:perspective(800px)       rotateY(0deg);
    opacity:1;
  }

 /* product over */
 
 .contact h1{
  text-align: center;
  font-size: 72px;
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 36px;
 }

.foot{
  margin-top: 30px;
  height: 550px;
}
 
/* footer over */